{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<div class="alert alert-info"><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</div>
