{% load bootstrap4 %}

{% bootstrap_form_errors form %}

<form method="post" action="{{ action_url }}" class="form" id="form">
    <div class="card no-border bg-transparent">
        <div class="card-body px-0">
            <div class="row {% if hide_sidebar %}justify-content-md-center{% endif %}">
                <div class="{% if hide_sidebar %}col-12 col-md-6{% else %}col-12{% endif %}">
                    <h3 class="heading heading-6 strong-600">{{ form_title }}</h3>

                    {% if form_tips %}
                      <div class="alert alert-info">
                        {{form_tips}}
                      </div>
                    {% endif %}

                    {% if additional_html %}
                        {% include additional_html %}
                    {% endif %}

                    {% csrf_token %}
                    {% if custom_form_field_html %}
                        {% include custom_form_field_html %}
                    {% else %}
                        {% bootstrap_form form %}
                    {% endif %}
                </div>
                <div class="w-100"></div>
                <div class="{% if hide_sidebar %}col-12 col-md-6{% elif full_width %}col-12{% else %}col-12 col-md-4{% endif %} ml-md-auto">
                    {% buttons %}
                        <button type="submit" class="btn btn-styled btn-base-1 btn-circle {% if delete_button %}btn-block{% endif %}">{{form_button_label|default:"Save"}}</button>
                        {% if delete_button %}
                            <a href="{{delete_button.url|default:object.get_delete_url}}" class="btn btn-outline-danger btn-xs btn-block btn-circle">{{delete_button.label|default:'Delete'}}</a>
                        {% endif %}

                        {% if skip_button and view.get_success_url %}
                            <a href="{{view.get_success_url}}" class="btn btn-styled btn-link">Skip</a>
                        {% endif %}
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </div>
</form>
