{% load static %}
<!-- Brand/Logo -->
<a class="navbar-brand {% if brand_centered %}navbar-brand--centered{% endif %} {% if padded %}py-4{% endif %}" href="/home">
    {% if STRINGS.wordmark_image %}
    <img src="{% static STRINGS.wordmark_image %}" height="30" class="d-none d-lg-inline-block" alt="{{STRINGS.site_name}}">
    <img src="{% static STRINGS.wordmark_image %}" height="30" class="d-lg-none" alt="{{STRINGS.site_name}}">
    {% else %}
    {{STRINGS.site_name}}
    {% endif %}
</a>
