{% extends "theme/base.html" %}
{% load static %}
{% load humanize %}

 {% block dashboard_left_nav %}{% if STRINGS.dashboard_left_nav %} has-navbar-aside" style="z-index: unset;{% endif %}{% endblock dashboard_left_nav %}

{% block metatags %}{% endblock metatags %}

{% block header %}

    {% if STRINGS.dashboard_left_nav %}
        <div class="navbar-aside {% if not STRINGS.dashboard_left_nav_color %}bg-light{% endif %}" {% if STRINGS.dashboard_left_nav_color %}style="background-color: {{STRINGS.dashboard_left_nav_color}}"{% endif %}>
    {% endif %}

    <!-- Header -->
    <div class="header {% if mobile_header %}d-none d-sm-block{% endif %}">

        {% block top_bar %}
            {% if STRINGS.alphateam %}
                <div class="top-navbar top-navbar--inverse alphateam-bar bg-alphateam">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="aux-text d-none d-md-inline-block">
                                    <ul class="inline-links inline-links--style-1">
                                        <li class="d-none d-lg-inline-block c-white">
                                            AlphaTeam
                                        </li>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-8">
                                <nav class="top-navbar-menu">
                                    <ul class="top-menu">
                                        {% include "alphateam/_components/_nav.html" %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock top_bar %}

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar--bold navbar-light {% if STRINGS.dashboard_left_nav %}bg-transparent{% else%}bg-default navbar--bb-1px{% endif %}">
            <div class="container navbar-container">
                {% include "dashboard/_header_brand.html" %}

                <div class="d-inline-block">
                    <!-- Navbar toggler  -->
                    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

                {% include "dashboard/_components/_dash_nav.html" %}

            </div>
        </nav>
    </div>
    {% if STRINGS.dashboard_left_nav %}</div>{% endif %}

{% endblock header %}


{% block content %}

    {% block secondary_nav_bar %}
        {% include "dashboard/_components/_dash_secondary_nav_bar.html" %}
    {% endblock secondary_nav_bar %}

    <section class="slice-sm {% if not body_bg_color %}sct-color-1{% endif %}">
        <div class="profile">
            <div class="container">
                <div class="row cols-xs-space cols-sm-space cols-md-space justify-content-center">
                    {% if not hide_sidebar and not STRINGS.dashboard_left_nav %}
                        <!-- Sidebar -->
                        <div class="col-lg-4 d-none d-sm-block">
                            {% block sidebar %}
                                {% include "dashboard/_components/_dash_sidebar.html" %}
                            {% endblock sidebar %}
                        </div>
                    {% endif %}

                    <!-- Main Content -->
                    <div class="{% if hide_sidebar or STRINGS.dashboard_left_nav %}col-lg-10 mt-lg-5{% else %}col-lg-8{% endif %}">
                        <div class="main-content">

                            {% if not hide_link_bar %}
                                {% block link_bar %}
                                    {% include "dashboard/_components/_dash_link_bar.html" %}
                                {% endblock link_bar %}
                            {% endif %}

                            <!-- Page title -->
                            <div class="page-title mb-3">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        {% if cta %}
                                            <a href="{{cta.url}}" class="page-cta btn btn-base-1 btn-circle px-3 float-right">{{cta.label}}</a>
                                        {% endif %}
                                        <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                            {% block page_title %}{{page_title}}{% endblock page_title %} {% if is_pro_feature %}
                                                <span class="badge badge-pill badge-primary ml-1" style="vertical-align:middle;" title="This is Pro feature">Pro Feature</span>
                                            {% endif %}
                                        </h2>
                                    </div>
                                    {% if page_subtitle %}
                                        <div class="col-12 mt-2">
                                            <p class="c-gray-light mb-0">{{page_subtitle}}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if is_pro_feature %}
                                    {% include "dashboard/_components/_alert-pro.html" %}
                                {% endif %}

                            </div>

                            {% block dashboard_section %}{% endblock dashboard_section %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block additional_gtag %}{% if STRINGS.additional_google_analytics_id %}gtag('config', '{{STRINGS.additional_google_analytics_id}}'); // marketing tag{% endif %}{% endblock additional_gtag %}

{% block scripts_lower %}
    <script type="text/javascript">
        $(function() {
            $('a[class="nav-link"][href="' + window.location.pathname + '"]').addClass('active');
        });
    </script>
{% endblock scripts_lower %}