{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}
{% load url_target_blank %}

{% block pagetitle %}{{ page_title }}{% endblock pagetitle %}

{% block dashboard_section %}

    {% bootstrap_form_errors form %}

    <form method="post" action="{{ action_url }}" class="form plus-form">
        <div class="row {% if hide_sidebar %}justify-content-md-center{% endif %}">
            <div class="{% if hide_sidebar %}col-12 col-md-6{% else %}col-12{% endif %}">
                <h3 class="heading heading-6 strong-600">{{ form_title }}</h3>

                {% if form_tips %}
                  <div class="alert alert-info">
                    {{form_tips}}
                  </div>
                {% endif %}

                {% if additional_html %}
                    {% include additional_html %}
                {% endif %}

                {% csrf_token %}
                {% if custom_form_field_html %}
                    {% include custom_form_field_html %}
                {% else %}
                    {% for field in form %}
                        <div class="card bg-transparent mb-3" id="url">
                            <div class="card-title pb-0 no-border">
                                <h3 class="heading heading-6 strong-600">
                                    {{field.label}}
                                </h3>
                                {% if field.help_text %}
                                    <p class="mt-1 mb-0">
                                        {{field.help_text|safe}}
                                    </p>
                                {% endif %}
                            </div>
                            <div class="card-body py-3">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        {% bootstrap_field field show_help=False show_label=False %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="w-100"></div>
            <div class="{% if hide_sidebar %}col-12 col-md-6{% else %}col-12 col-md-4{% endif %} ml-md-auto">
                {% buttons %}
                    <button type="submit" class="btn btn-styled btn-base-1 btn-circle btn-block">{{form_button_label|default:"Save"}}</button>
                    {% if delete_button %}
                        <a href="{{delete_button.url|default:object.get_delete_url}}" class="btn btn-outline-danger btn-xs btn-block btn-circle">{{delete_button.label|default:'Delete'}}</a>
                    {% endif %}
                {% endbuttons %}
            </div>
        </div>
    </form>

{% endblock dashboard_section %}
