{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block dashboard_section %}

    <section class="slice-sm pb-0 sct-color-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <form method="post">
                            {% csrf_token %}
                            <div class="heading heading-2 strong-600 line-height-1_8">
                                Are you sure you want to delete <span class="c-base-1 strong-700">{{ object }}</span>?
                            </div>
                            {% if additional_warning %}
                                <div class="alert alert-danger text-lg">{{additional_warning}}</div>
                            {% endif %}
                            <span class="space-xs-md"></span>
                            <button type="submit" id="submitButton" class="btn btn-styled btn-danger btn-round btn-block">Yes, delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock dashboard_section %}
