{% extends "theme/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block header_bar %}{% endblock header_bar %}

{% block styles %}
    <!-- IS THIS COMING THROUGH -->
    <style type="text/css">
        .form-group {
            text-align: center;
        }
        .form-group label {
            display: none !important;
        }
        .form-group .form-check-label {
            display: inline-block !important;
        }
        .form-group .form-control {
            border-radius: 50px;
            padding: 1.3em 1.4em;
            -webkit-appearance: none;
        }

        .checkbox label::before {
            display: none;
        }
        .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
            opacity: 1;
        }

    </style>
{% endblock styles %}

{% block content %}

    {% if DEBUG %}
      <div class="text-center bg-base-1 py-2"><a href="{% url 'admin:index' %}?" class="c-white ">Go to Admin</a></div>
    {% endif %}


    <section class="slice has-bg-cover bg-size-cover login-signup" style="background-image: url({{STRINGS.background_image}}); background-position: bottom center;">
        <div class="container">
            <div class="row justify-content-center cols-xs-space">
                <div class="col-lg-6">
                    <div class="form-card form-card--style-2 text-center">
                        {% if STRINGS.wordmark_image %}
                            <div>
                                <img src="{% static STRINGS.wordmark_image %}" height="39" class="d-none d-lg-inline-block" alt="{{STRINGS.site_name}}">
                                <img src="{% static STRINGS.wordmark_image %}" height="39" class="d-lg-none" alt="{{STRINGS.site_name}}">
                            </div>
                        {% else %}
                            <div class="form-header">
                                <div class="form-header-icon">
                                    {% block account_icon %}<i class="icon ion-log-in"></i>{% endblock %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-body">
                            <div class="px-2">
                                <h1 class="heading heading-4 strong-400">{% block account_header %}{% endblock %}</h1>
                                <p class="c-gray-light mb-4">{% block account_subheader %}{% endblock %}</p>
                            </div>

                            {% bootstrap_messages %}

                            {% block account_content %}{% endblock account_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
