{% extends "account/base_account.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block account_icon %}<i class="icon ion-email"></i>{% endblock %}
{% block account_header %}{% trans "Email Addresses" %}{% endblock %}
{% block account_subheader %}{% trans 'The following e-mail addresses are associated with your account:' %}{% endblock %}

{% block account_content %}


    {% if user.emailaddress_set.all %}

        <form action="{% url 'account_email' %}" class="email_list form" method="post">
        {% csrf_token %}

            <fieldset class="blockLabels">

                {% for emailaddress in user.emailaddress_set.all %}
                    <div class="ctrlHolder">
                        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

                            {{ emailaddress.email }}

                            {% if emailaddress.verified %}
                                <span class="badge badge-success verified">{% trans "Verified" %}</span>
                            {% else %}
                                <span class="badge badge-warning unverified">{% trans "Unverified" %}</span>
                            {% endif %}

                            {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
                        </label>
                    </div>
                {% endfor %}

                <div class="buttonHolder">
                   <button class="btn btn-styled btn-sm btn-base-1" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                    <button class="btn btn-link btn-sm" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                    <button class="btn btn-sm btn-link" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                </div>

            </fieldset>
        </form>

    {% else %}

        <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}


    <h5 class="heading heading-5 strong-400 mt-4">{% trans "Add New Email Address" %}</h5>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {% bootstrap_form form show_label=False%}
        <button class="btn btn-styled btn-sm btn-base-1" name="action_add" type="submit">{% trans "Add Email" %}</button>
    </form>

{% endblock account_content %}


{% block extra_body %}
    <script type="text/javascript">
        (function() {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function(e) {
                if (! confirm(message)) {
                    e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
