{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load bootstrap4 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block account_header %}{% trans "Sign In" %}{% endblock %}
{% block account_subheader %}

  {% if socialaccount_providers %}
    Choose a social provider below.
  {% else %}
    If you don't have an account, please <a href="{{STRINGS.signup_url|default:signup_url}}">sign up</a> first.
  {% endif %}
{% endblock %}

{% block account_content %}

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}

        <form class="login form-default" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          {% buttons %}
            <button type="submit" class="btn btn-styled btn-base-1 mt-4 btn-circle">{% trans "Sign In" %} &raquo;</button>
            <a class="btn btn-link btn-styled btn-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          {% endbuttons %}
        </form>

    {% endif %}

{% endblock account_content %}
