{% extends "account/base_account.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block account_header %}{% trans "Sign Out" %}{% endblock %}
{% block account_subheader %}{% trans 'Are you sure you want to sign out?' %}{% endblock %}

{% block account_content %}

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-styled btn-base-1 mt-4">{% trans 'Sign Out' %}</button>
</form>

{% endblock account_content %}
