{% extends "account/base_account.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_header %}{% trans "Change Password" %}{% endblock %}
{% block account_subheader %}{% trans 'Use the form below to change your password' %}{% endblock %}

{% block account_content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <button type="submit" class="btn btn-styled btn-base-1"  name="action">{% trans "Change Password" %}</button>
    </form>

{% endblock account_content %}