{% extends "account/base_account.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block account_header %}{% trans "Password Reset" %}{% endblock %}
{% block account_subheader %}

    <div>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}

    {% else %}
        <a href="{{ login_url }}" class="btn btn-styled btn-base-1 btn-outline btn-circle mt-4">Back to sign in</a>
    {% endif %}

{% endblock %}
