{% extends "account/base_account.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block account_icon %}<i class="icon ion-log-in"></i>{% endblock %}

{% block account_header %}{% trans "Reset Your Password" %}{% endblock %}
{% block account_subheader %}
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock %}

{% block account_content %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" class="btn btn-styled btn-base-1 btn-circle" value="{% trans 'Reset My Password' %}" />
        {% endbuttons %}
    </form>

    <p class="c-gray-light">
        {% if STRINGS.contact_email %}
            {% blocktrans %}Please <a href="mailto:{{STRINGS.contact_email}}">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}
        {% else %}
            {% blocktrans %}Please contact us contact us if you have any trouble resetting your password.{% endblocktrans %}
        {% endif %}
   </p>

{% endblock account_content %}
