{% extends "account/base_account.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_icon %}<i class="icon ion-log-in"></i>{% endblock %}

{% block account_header %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock %}

{% block account_content %}
    <h1></h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" class="form" action=".">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <input type="submit" name="action" class="btn btn-styled btn-base-1" value="{% trans 'Change Password' %}"/>
                {% endbuttons %}
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock account_content %}
