{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_header %}{% trans "Create a new account" %}{% endblock %}
{% block account_subheader %}{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}{% endblock %}

{% block account_content %}

  {% if STRINGS.signup_closed %}
    Signups are closed.
  {% else %}
  <form class="signup form-default row" id="signup_form" method="post" action="{% url 'account_signup' %}" {% if STRINGS.rewardful_id %}data-rewardful{% endif %}>
    {% csrf_token %}
    <div class="col-12">{% bootstrap_field form.email %}</div>
    {% if STRINGS.ACCOUNT_USERNAME_REQUIRED %}
        <div class="col-12">{% bootstrap_field form.username addon_before=STRINGS.USERNAME_PREFIX %}</div>
    {% endif %}
    <div class="col-md-6">{% bootstrap_field form.first_name placeholder="First Name" %}</div>
    <div class="col-md-6">{% bootstrap_field form.last_name  placeholder="Last Name" %}</div>
    <div class="col-md-6">{% bootstrap_field form.password1 %}</div>
    <div class="col-md-6">{% bootstrap_field form.password2 %}</div>
    <div class="col-12">
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      {% buttons %}
        <button type="submit" class="btn btn-styled btn-base-1 mt-4 btn-circle">{% trans "Sign Up" %} &raquo;</button>
      {% endbuttons %}
      <div class="mt-1 ">
        <small class="">By signing up, you agree to the <a href="{% url 'terms_page' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy_page' %}" target="_blank">Privacy Policy</a></small>
      </div>
    </div>
  </form>
  {% endif %}

{% endblock account_content %}
