{% extends "dashboard/generic_form.html" %}
{% load static %}

{% block sidebar %}

    <div class="sidebar sidebar--style-2 no-border stickyfill">
        <div class="widget">
            <!-- Profile picture -->
            <div class="profile-picture profile-picture--style-2">
                <img src="{{user.userprofile.profile_photo}}" class="img-center">
                {% comment %}
                <a href="#" class="btn-aux">
                    <i class="ion ion-edit"></i>
                </a>
                {% endcomment %}
            </div>

            <!-- Profile details -->
            <div class="profile-details">
                <h2 class="heading heading-4 strong-500">{{user.get_full_name}}</h2>
                <p class="c-gray-light strong-400">{{user.email}}</p>
            </div>

        </div>
    </div>

{% endblock %}
