{% extends "theme/base.html" %}
{% load static %}
{% load humanize %}


{% block header %}
    <!-- Header -->
    <div class="header">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default navbar--bb-1px">
            <div class="container navbar-container">
                {% include "dashboard/_header_brand.html" with padded=True %}
            </div>
        </nav>
    </div>
{% endblock header %}


{% block content %}

    <section class="slice-sm sct-color-1">
        <div class="profile">
            <div class="container">
                <div class="row cols-xs-space cols-sm-space cols-md-space">

                    <div class="col-lg-12">
                        <div class="main-content">

                            {% if page_title %}
                                <div class="section-title section-title--style-1 text-center mb-2">
                                    {% if page_emoji %}<div class="display-2 mb-3">{{page_emoji}}</div>{% endif %}
                                    <h1 class="section-title-inner">{{page_title}}</h1>
                                    <span class="section-title-delimiter clearfix d-none"></span>
                                </div>
                            {% endif %}

                            {% if page_subtitle %}
                                <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                    {{page_subtitle}}
                                </div>
                            {% endif %}

                            {% if page_subtitle_html %}
                                <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                    {{page_subtitle_html|safe}}
                                </div>
                            {% endif %}

                            {% block onboarding_content %}{% endblock onboarding_content %}

                            {% block buttons %}
                                {% if cta %}
                                    <div class="text-center">
                                        <a href="{{cta.url}}" class="btn btn-styled bg-base-1 btn-circle">{{cta.label}}</a>
                                    </div>
                                {% endif %}
                            {% endblock buttons %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
