{% extends "dashboard/onboarding/base_onboarding.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block onboarding_content %}

    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-6 col-md-8">
            <form method="post" action="{{ action_url }}" class="form">
                <div class="card no-border bg-transparent">
                    <div class="card-body px-0">
                        <h3 class="heading heading-6 strong-600">{{ form_title }}</h3>

                        {% if form_tips %}
                          <div class="alert alert-info">
                            {{form_tips}}
                          </div>
                        {% endif %}

                        {% if additional_html %}
                            {% include additional_html %}
                        {% endif %}

                        {% csrf_token %}
                        {% block create_form_fields %}
                            {% bootstrap_form form %}
                        {% endblock create_form_fields %}

                    </div>
                    <div class="w-100"></div>
                    <div>
                        {% buttons %}
                            <button type="submit" class="btn btn-styled btn-base-1 btn-circle btn-block">{{form_button_label|default:"Save"}}</button>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock onboarding_content %}

