{% extends "marketing/base_marketing.html" %}
{% load static %}

{% block content %}
    <section class="background-image-holder bg-white" data-holder-type="fullscreen" data-holder-offset="">
        <div class="slice holder-item holder-item-light">
            <div class="container container-sm d-flex align-items-center">
                <div class="col">
                    <div class="row py-3 text-center justify-content-center">
                        <div class="col-12">
                            <div class="text-cover-wrapper">
                                <h1 class="heading heading-1">😢</h1>
                                <h2 class="heading heading-2 c-gray-dark mb-3">Something went wrong.</h2>
                                <div class="clearfix"></div>
                                <p class="text-lg line0height-1_8 c-gray-light">There was an error, and the team has been alerted.</p>
                                <img src="{% static STRINGS.wordmark_image %}" height="19">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
