{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

{% block google_optimize %}{% endblock google_optimize %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"/>

<title>{% block pagetitle %}{% if page_title %}{{ page_title }} | {{STRINGS.site_name}}{% else %}{{STRINGS.site_name}} | {{STRINGS.site_tagline}}{% endif %}{% endblock pagetitle %}</title>

{% block metatags %}
<meta name="description" content="{{STRINGS.site_description}}">
<meta name="keywords" content="{{STRINGS.site_keywords}}">

<meta property="og:type" content="website">
<meta property="og:title" content="{% if page_title %}{{ page_title }} | {{STRINGS.site_name}}{% else %}{{STRINGS.site_name}} | {{STRINGS.site_tagline}}{% endif %}">
<meta property="og:url" content="{{request.build_absolute_uri}}">
{% if STRINGS.site_image %}<meta property="og:image" content="{{STRINGS.site_url}}{% static STRINGS.site_image %}">{% endif %}
<meta property="og:site_name" content="{{STRINGS.site_name}}">
<meta property="og:description" content="{{STRINGS.site_description}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page_title %}{{ page_title }} | {{STRINGS.site_name}}{% else %}{{STRINGS.site_name}} | {{STRINGS.site_tagline}}{% endif %}">
<meta name="twitter:description" content="{{STRINGS.site_description}}">
{% if STRINGS.site_image %}<meta name="twitter:image:src" content="{{STRINGS.site_url}}{% static STRINGS.site_image %}">{% endif %}
<meta name="twitter:domain" content="{{request.build_absolute_uri}}">
{% endblock metatags %}

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600,700,800|Roboto:400,500,700">

<!-- Icons -->
{% if STRINGS.font_awesome_5 %}
<link rel="stylesheet" href="https://redwood-labs.s3.amazonaws.com/theme/fonts/fontawesome-5/css/all.css" type="text/css">
<link rel="stylesheet" href="https://redwood-labs.s3.amazonaws.com/theme/fonts/fontawesome-5/css/v4-shims.css" type="text/css">
{% else %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">
{% endif %}

{% block plugin_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" type="text/css">
<link rel="stylesheet" href="https://redwood-labs.s3.amazonaws.com/theme/fonts/line-icons-pro/line-icons-pro.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" type="text/css">

<!-- Plugins -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
{% endblock plugin_css %}

<!-- Global style (main) -->
{% block boomerang_css %}
  <link id="stylesheet" type="text/css" href="https://redwood-labs.s3.amazonaws.com/theme/css/boomerang.min.css" rel="stylesheet" media="screen">
{% endblock boomerang_css %}

<!-- Custom styles -->
<link type="text/css" href="https://redwood-labs.s3.amazonaws.com/theme/css/custom-style.css" rel="stylesheet">
<link type="text/css" href="{% static 'identity/css/custom-styles.css' %}" rel="stylesheet">

<!-- Favicon -->
{% block favicon %}<link href="{% if ':8000' in request.get_host and STRINGS.favicon_image_admin %}{% static STRINGS.favicon_image_admin %}{% else %}{% static STRINGS.favicon_image %}{% endif %}" rel="icon" type="image/png">{% endblock favicon %}

<!-- Apple Icon -->
{% if STRINGS.apple_icon_image %}{% block apple_icon %}<link href="{% static STRINGS.apple_icon_image %}" rel="apple-touch-icon">{% endblock apple_icon %}{% endif %}

<!-- Canonical -->
{% block canonical %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock canonical %}

{% block app_banner %}{% endblock app_banner %}

{% if STRINGS.font %}

    <link href="{{STRINGS.font.url}}" rel="stylesheet">

    <style type="text/css">
        body, .heading, .display, .section-title .section-title-inner, .btn, h1,h2,h3,h4,h5,h6 {
            font-family: '{{STRINGS.font.name}}', sans-serif !important;
        }
    </style>

{% endif %}

{% if STRINGS.primary_color %}
  <style type="text/css">
      {% with STRINGS.primary_color as color %}
        a, a:hover,
        .link,
        .link:hover, .link--style-1:hover,
        .meta-category a, .meta-category a:hover {
            color: {{color}};
        }
        .c-base-1, .text-primary,
        .btn-base-5,
        .btn-link,
        .heading:hover>a,
        .link--style-2, .link--style-2:hover,
        .navbar-aside .navbar-expand-lg .navbar-nav .nav-link:hover,
        .navbar-aside .navbar-expand-lg .navbar-nav .nav-link:focus,
        .navbar-aside .navbar-expand-lg .navbar-nav .show .nav-link,
        .navbar-aside .navbar-expand-lg .navbar-nav .show .nav-link:hover,
        .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-nav .dropdown-menu .dropdown-item:hover {
            color: {{color}} !important;
        }
        .btn-base-1, .btn-base-1:active, .btn-base-1.active, .btn-base-1:focus, .btn-base-1:hover, .btn-base-1.btn-outline:active, .btn-base-1.btn-outline:focus, .btn-base-1.btn-outline:hover {
          background-color: {{color}} !important;
          border-color: {{color}} !important;
        }
        .btn-base-1.btn-outline {
          color: {{color}} !important;
          border-color: {{color}} !important;
        }
        .bg-base-1,
        .btn-back-to-top,
        .bg-primary {
          background-color: {{color}} !important;
        }

        .pagination>.active .page-link, .pagination>.active .page-link:focus, .pagination>.active .page-link:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
          background-color: {{color}} !important;
          border-color: {{color}} !important;
          color: white !important;
        }

        .nav-link-active,
        .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
          background-color: {{color}} !important;
          border-color: {{color}} !important;
          color: white !important;
          border-radius: 4px !important;
        }

        .navbar-aside .navbar-nav .nav-link:focus, .navbar-aside  .navbar-nav .nav-link:hover {
          background-color: transparent !important;
          border-color: transparent !important;
        }


        .btn-base-1:active, .btn-base-1.active, .btn-base-1:focus, .btn-base-1:hover, .btn-base-1.btn-outline:active, .btn-base-1.btn-outline:focus, .btn-base-1.btn-outline:hover,
        .btn-base-4:active, .btn-base-4.active, .btn-base-4:focus, .btn-base-4:hover, .btn-base-4.btn-outline:active, .btn-base-4.btn-outline:focus, .btn-base-4.btn-outline:hover,
        .link--style-1:hover,
        .meta-category a:hover,
        .link--style-2:hover {
          opacity: .8;
        }

    {% endwith %}

  {% if body_bg_color %}
    body { background-color: {{body_bg_color}}; }
    .body-wrap { background-color: transparent; }
  {% endif %}

  </style>
{% endif %}

{% block stylesheets %}{% endblock stylesheets %}

{% block styles %}{% endblock styles %}

{% if STRINGS.google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{STRINGS.google_analytics_id}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{STRINGS.google_analytics_id}}');
    {% block additional_gtag %}{% endblock additional_gtag %}
  </script>
{% endif %}

{% block additional_scripts_head %}{% endblock additional_scripts_head %}

{% block facebook_pixel %}
  {% if STRINGS.facebook_pixel_id %}
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{STRINGS.facebook_pixel_id}}');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{STRINGS.facebook_pixel_id}}&ev=PageView&noscript=1" alt="facebook pixel"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  {% endif %}
{% endblock facebook_pixel %}


{% block fullstory %}
  {% if STRINGS.fullstory_id and not debug %}
    <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
    window['_fs_org'] = '{{STRINGS.fullstory_id}}';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
        o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
        g.anonymize=function(){g.identify(!!0)};
        g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
        g.log = function(a,b){g("log",[a,b])};
        g.consent=function(a){g("consent",!arguments.length||a)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
        g.setVars=function(n, p){g(n, p);};
        g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
        if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
        g._v="1.3.0";
    })(window,document,window['_fs_namespace'],'script','user');

    {% if request.user.is_authenticated %}
    FS.identify('{{ request.user.username|escapejs }}', {
      displayName: '{{ request.user.get_full_name|escapejs }}',
      email: '{{ request.user.email|escapejs }}',
    });
    {% endif %}

    </script>

  {% endif %}
{% endblock fullstory %}

</head>
<body>
{% block additional_scripts_body_top %}{% endblock additional_scripts_body_top %}
{% block modal %}{% endblock modal %}

<!-- MAIN WRAPPER -->
<div class="body-wrap {% block main_wrapper_class %}{% endblock main_wrapper_class %}{% block dashboard_left_nav %}{% endblock dashboard_left_nav %}">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    {% block header %}{% endblock header %}

                    {% comment %}
                    {% if messages %}
                        <div>{% bootstrap_messages %}</div>
                    {% endif %}
                    {% endcomment %}

                    {% block content %}{% endblock content %}

                    {% block footer %}{% endblock footer %}

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

{% block sticky_footer %}{% endblock sticky_footer %}

<a href="#" class="back-to-top btn-back-to-top"></a>

<!-- SCRIPTS -->

{% block events %}{% endblock events %}

<!-- Core -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://redwood-labs.s3.amazonaws.com/theme/js/slidebar/slidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>

<!-- Bootstrap Extensions -->
<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/bootstrap-notify/bootstrap-growl.min.js"></script>
<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/scrollpos-styler/scrollpos-styler.js"></script>

{% block plugin_scripts %}
<!-- Plugins: Sorted A-Z -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.adaptive-backgrounds/1.0.3/jquery.adaptive-backgrounds.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.1.2/jquery.flip.min.js"></script>

<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/footer-reveal/footer-reveal.min.js"></script>
<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/gradientify/jquery.gradientify.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/headroom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/jQuery.headroom.min.js"></script>

<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/input-mask/input-mask.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.min.js"></script>

<script src="https://redwood-labs.s3.amazonaws.com/theme/vendor/paraxify/paraxify.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.2/sticky-kit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
{% endblock plugin_scripts %}

{% if not STRINGS.hide_extended_plugins %}
<!-- Isotope -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.js"></script>
{% endif %}

<!-- App JS -->
<script src="https://redwood-labs.s3.amazonaws.com/theme/js/boomerang.min.js"></script>

{% if form.media %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{ form.media }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script> {# Here for tinymce image uploads #}
{% endif %}

{% block scripts %}{% endblock scripts %}
{% block scripts_lower %}{% endblock scripts_lower %}

{% if STRINGS.google_tag_manager_id %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{STRINGS.google_tag_manager_id}}');</script>
  <!-- End Google Tag Manager -->
{% endif %}

{% block intercom %}
    {% if STRINGS.intercom_id and not debug %}
        <!-- Intercom -->
        <script>
          window.intercomSettings = {
            app_id: "{{ STRINGS.intercom_id }}",
            {% if request.user.is_authenticated %}
            name: "{{ request.user.get_full_name|escapejs }}",
            email: "{{ request.user.email|escapejs }}",
            created_at: "{{ request.user.date_joined|date:'U' }}",
            {% endif %}
            {% block additional_intercom_attributes %}{% endblock additional_intercom_attributes %}
          };
        </script>

        <script>
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{STRINGS.intercom_id}}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        </script>
    {% endif %}
{% endblock intercom %}

{% block rewardful %}
  {% if STRINGS.rewardful_id %}
    <!-- Rewardful -->
    <script>(function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');</script>
    <script async src='https://r.wdfl.co/rw.js' data-rewardful='{{STRINGS.rewardful_id}}'></script>
    <!-- End Rewardful -->
  {% endif %}
{% endblock rewardful %}

{% block userleap %}
  {% if STRINGS.userleap_id %}

    <script type="text/javascript">
        (function(l,e,a,p) {
          window.UserLeap = function(){U._queue.push(arguments)}
          let U = window.UserLeap;U.appId = a;U._queue = [];
          a=l.createElement('script');
          a.async=1;a.src=e+'?id='+U.appId;
          p=l.getElementsByTagName('script')[0];
          p.parentNode.insertBefore(a, p);
        })(document, 'https://cdn.userleap.com/shim.js', '{{STRINGS.userleap_id}}');
        {% if request.user.is_authenticated %}
        UserLeap('setUserId', '{{request.user.id}}');
        UserLeap('setEmail', '{{request.user.email}}');
        {% endif %}
      </script>

    {% endif %}
{% endblock userleap %}

</body>
</html>
