{% extends "theme/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mathfilters %}


{% block styles %}
    <style type="text/css">
        .design-preview {
          position: relative;
          height: {{preview_config.preview_height}}px;
        }
        .design-preview .disable-iframe {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10;
        }
        .design-preview iframe {
          z-index: 5;
          display: block;
          border: none;
          width: {{preview_config.scale_percentage}}%;
          height: {{preview_config.preview_height|mul:preview_config.scale_percentage|div:100}}px;
          -ms-zoom: {{preview_config.scale}};
          -ms-transform-origin: 0 0;
          -moz-transform: scale({{preview_config.scale}});
          -moz-transform-origin: 0 0;
          -o-transform: scale({{preview_config.scale}});
          -o-transform-origin: 0 0;
          -webkit-transform: scale({{preview_config.scale}});
          -webkit-transform-origin: 0 0;
        }
    </style>
{% endblock styles %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for obj in object_list %}
                <div class="col-{{preview_config.col|default:'3'}} text-center mt-4">
                    <div class="design-preview mb-4">
                        <div class="disable-iframe"></div>
                        <iframe src="{% if obj.preview_url %}{{obj.preview_url}}{% else %}{{obj.get_absolute_url}}{% endif %}" class="z-depth-3"></iframe>
                    </div>
                    <a href="{% if obj.preview_url %}{{obj.preview_url}}{% else %}{{obj.get_absolute_url}}{% endif %}" target="_blank">{{obj.name}}</a><br>
                    <small><a href="mailto:{{obj.user.email}}?subject={{obj.name}} on {{STRINGS.site_name}}" class="c-gray"><i class="fa fa-envelope"></i> {{obj.user.get_full_name}}</a></small>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock content %}