{% extends "theme/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mathfilters %}

{% block content %}

    <section class="slice-xl sct-color-1" id="scrollToSection">
        <div class="container no-padding">
            <div class="row row-no-padding">
                <div class="col-md-12">
                    <div class="section-title section-title--style-1 text-center mb-3">
                        <h3 class="section-title-inner text-normal">
                            <span>{{STRINGS.site_name}}</span>
                        </h3>
                        <span class="section-title-delimiter clearfix d-none"></span>
                    </div>

                    <span class="clearfix"></span>

                    <div class="text-center">
                        <div class="fluid-paragraph">
                            <p class="lead line-height-1_8 c-gray-light strong-300">
                                Stats
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                {% for stat in stats %}
                    <div class="col-lg-3 col-md-6">
                        <div class="milestone-counter text-center">
                            <div class="milestone-count c-base-1 strong-600 visible full-visible" data-from="0" data-to="{{stat.count}}" data-speed="500" data-refresh-interval="100">{{stat.count}}</div>
                            <h4 class="milestone-info heading-5 c-gray-light text-normal">{{stat.label}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}