<div class="row justify-content-center mb-3">
    <div class="col-lg-7">
        <div class="text-center">
            {% if icon %}
                <div class="d-block font-size-3 font-size-md-4 c-gray-light">
                    <i class="{{icon|default:'fa fa-warning'}}"></i>
                </div>
            {% endif %}

            <h2 class="heading heading-3 strong-600">{{title|default:'There is nothing here'}}</h2>
            <p class="mt-4 px-5">
                {{message|default:'There are no items in the list'}}
            </p>
            {% if button_text %}
                <a href="{{button_url}}" class="btn btn-styled btn-base-1 btn-circle mt-3">
                    {{button_text}}
                </a>
            {% endif %}
        </div>
    </div>
</div>
