{% extends "marketing/base_marketing.html" %}
{% load static %}




{% block content %}


                    <section class="slice--offset sct-color-1" style="padding-top: 100px;">
                        <div class="container container-xs">
                            <div class="text-center">
                                <h1 class="heading heading-2 strong-400 text-normal">
                                    Privacy Policy
                                </h1>
                            </div>

                            <div class="block block-post">
                                <div class="block-body block-post-body">

<div class="module"><p class="sub-h1">Redwood Labs (“Company”) knows that you care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our privacy policy.  By visiting the {{STRINGS.site_url}} website and domain name, and any other linked pages, features, content, or application services offered from time to time by Company in connection therewith (collectively, the “Website”), or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy.</p></div>

<div class="module"><h3>WHAT DOES THIS PRIVACY POLICY COVER?</h3><div class="info">
<p>This Privacy Policy covers Company’s treatment of personally identifiable information (“Personal Information”) that Company gathers when you access the Website and when you use Company’s services.  This policy does not apply to the practices of companies that Company does not own or control, or to individuals that Company does not employ or manage.</p>
</div></div>

<div class="module"><h3>WHAT PERSONAL INFORMATION DOES COMPANY COLLECT?</h3><div class="info">
<p>The information we gather from customers enables us to personalize and improve our services, and allows our users to set up a user account and profile that can be used to personalize their experience on the Website. We collect the following types of information from our customers:</p>
</div></div><div class="module"><h3>Personal Information You Provide to Us:</h3><div class="info">
<p>We receive and store any information you enter on our Website or provide to us in any other way.  The types of Personal Information collected may include your name, email address, IP address, browser information, username, password and any other information necessary for us to provide our services. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.  The Personal Information you provide is used for such purposes as answering questions, improving the content of the Website, customizing the advertising and content you see, and communicating with you about Company’s products and services, including specials and new features.  </p>
</div></div><div class="module"><h3>Personal Information Collected Automatically:</h3><div class="info">
<ul class="terms">
<li>We receive and store certain types of information whenever you interact with our Website or use our services.  Company automatically receives and records information on our server logs from your browser including your IP address, cookie information, browser information, operating system, timestamps, and the page you requested.</li>
<li>Generally, our service automatically collects usage information, such as the numbers and frequency of visitors to our Website and its components, similar to TV ratings that indicate how many people watched a particular show.  Company only uses this data in aggregate form, that is, as a statistical measure, and not in a manner that would identify you personally.  This type of aggregate data enables us to figure out how often customers use parts of the Website or services so that we can make the Website appealing to as many customers as possible, and improve those services.  As part of this use of information, we may provide aggregate information to our partners about how our customers, collectively, use our Website or services.  We share this type of statistical data so that our partners also understand how often people use the Website or services, so that they, too, may provide you with an optimal online experience. Again, Company never discloses aggregate information to a partner in a manner that would identify you personally.</li>
</ul>
</div></div><div class="module"><h3>E-mail Communications:</h3><div class="info">
<p>We may receive a confirmation when you open an email from Company if your computer or device supports this type of functionality. Company uses this confirmation to help us make emails more interesting and helpful and to improve the Website and our services. When you receive e-mail from Company, you can opt out of receiving further e-mails by following the included instructions to unsubscribe.</p>
</div></div><div class="module"><h3>What About Cookies?</h3><div class="info">
<ul class="terms">
<li>Cookies are alphanumeric identifiers that we transfer to your computer’s (or other device’s) persistent storage medium (e.g., hard drive) through your browser to enable our systems to recognize your browser and tell us how and when pages in our site are visited and by how many people.  We use cookies to enhance visitors’ experiences, to learn more about their use of the Website and to improve quality.  Company cookies do not collect Personal Information, and we do not combine the general information collected through cookies with other Personal Information to tell us who you are or what your screen name or email address is. </li>
<li>Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways.  We strongly recommend that you leave the cookies activated, however, because cookies enable you to take advantage of some of our Website’s most attractive features.</li>
<li>Ads appearing on the Website may be delivered to users by our advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer or other device each time they send you an online advertisement to compile information about you or others who use your computer or device. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Company and does not cover the use of cookies by any advertisers.</li>
</ul>
</div></div><div class="module"><h3>Google Sign-in and Authentication</h3><div class="info">
<p>For some users, we offer the ability to authenticate your account with your Google / YouTube accounts. During this process, we save a token that allows us to communicate with Google on your behalf. The information we communicate is limited to the permissions you give us during the sign in process. We don't save any personal information from your Google account except the token and any preferences regarding where you want us to post information.</p>
</div></div><div class="module"><h3>WILL COMPANY SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h3><div class="info">
<p>Personal Information about our customers is an integral part of our business.  We neither rent nor sell your Personal Information to anyone.  We share your Personal Information only as described below. </p>
<p>Advertisers: As discussed above, we allow advertisers to choose the demographic information of users who will see their advertisements and you agree that we may use any of the information we have collected from you (including, without limitation, information you may have decided not to show to other users) to select or allow the advertiser to select the appropriate audience for those advertisements.  For example, we may allow an advertiser to target an ad to you based on your query history.</p>
<p>Affiliated Businesses We Do Not Control: We anticipate that we may become affiliated with a variety of businesses and work closely with them.  In certain situations, these businesses may sell items to you through the Website.  In other situations, Company may provide services, or sell products jointly with affiliated businesses.  You can easily recognize when an affiliated business is associated with your transaction, and we will share your Personal Information that is related to such transactions with that affiliated business. </p>
<p>Agents: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you.    Unless we tell you differently, Company’s agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Personal Information for the above purposes.</p>
<p>User profiles: User profile information including users’ name, email address, and other information you enter (“User Submissions”) may be displayed to other users to facilitate user interaction within the Website. Email addresses are used to add new User Submissions to user profiles and to communicate through User Submissions. Users’ email addresses will not be directly revealed to other users by Company, except, when the user is “connected” to another user via a shared group membership, or an invitation, or if the user has chosen to include their email address in their User Profile. </p>
<p>Communication in response to User Submissions: As part of the Website and services, you will receive from Company email and other communication relating to your User Submissions. You acknowledge and agree that by posting such User Submissions, Company may send you email and other communication that it determines in its sole discretion relate to your User Submissions. </p>
<p>Business Transfers: In some cases, we may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that are transferred.  Moreover, if Company, or substantially all of its assets were acquired, or in the unlikely event that Company goes out of business or enters bankruptcy, customer information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Company or its assets may continue to use your Personal Information as set forth in this policy.</p>
<p>Protection of Company and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Company, our employees, our users, or others.  This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</p>
<p>With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.</p>
</div></div><div class="module"><h3>IS PERSONAL INFORMATION ABOUT ME SECURE?</h3><div class="info">
<p>Your Company account Personal Information is protected by a password for your privacy and security.  You need to ensure that there is no unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer (or other device) and browser by signing off after you have finished accessing your account.</p>
<p>Company endeavors to protect user information to ensure that user account information is kept private, however, Company cannot guarantee the security of user account information.  Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time. </p>
<p>The Website contains links to other sites. Company is not responsible for the privacy policies and/or practices on other sites. When linking to another site you should read the privacy policy stated on that site.  This Privacy Policy only governs information collected on the Website. </p>
</div></div><div class="module"><h3>WHAT PERSONAL INFORMATION CAN I ACCESS?</h3><div class="info">
<p> Company allows you to access the following information about you for the purpose of viewing, and in certain situations, updating or deleting that information.  This list will change as the Website changes. </p>
<ul class="terms">
<li>User e-mail address</li>
<li>Username and password</li>
</ul>
</div></div><div class="module"><h3>WHAT CHOICES DO I HAVE?</h3><div class="info">
<ul class="terms">
<li>As stated previously, you can always opt not to disclose information, even though it may be needed to take advantage of or register for certain features of the Website and services.</li>
<li>You are able to add or update certain information on pages, such as those listed in the “What Personal Information Can I Access” section above.  When you update information, however, we often maintain a copy of the unrevised information in our records.</li>
<li>You may request deletion of your Company account by sending an e-mail to {{STRINGS.contact_email}}.  Please note that some information may remain in our records after deletion of your account.  </li>
<li>If you do not wish to receive email or other mail from us, please indicate this preference during the registration process, by changing your account settings, or by notifying us at {{STRINGS.contact_email}}. Please note that if you do not want to receive legal notices from us, such as this Privacy Policy, those legal notices will still govern your use of the Website, and you are responsible for reviewing such legal notices for changes.</li>
</ul>
</div></div><div class="module"><h3>CHANGES TO THIS PRIVACY POLICY</h3><div class="info">
<p>Company may amend this Privacy Policy from time to time.  Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.  If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email.  Users are bound by any changes to the Privacy Policy when he or she uses the Website after such changes have been first posted.</p>
</div></div><div class="module"><h3>QUESTIONS OR CONCERNS</h3><div class="info">
<p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at {{STRINGS.contact_email}}.  We will make every effort to resolve your concerns.</p>
<p>Effective Date: July 20, 2020</p></div>


                                </div>
                            </div>
                        </div>
                    </section>




{% endblock content %}
