{% extends "marketing/base_marketing.html" %}
{% load static %}

{% block content %}
    <section class="background-image-holder" data-holder-type="fullscreen" data-holder-offset="">
        <span class="mask mask-gradient-1--style-1"></span>
        <div class="slice holder-item holder-item-light">
            <div class="container container-sm d-flex align-items-center">
                <div class="col">
                    <div class="row py-3 text-center justify-content-center">
                        <div class="col-12">
                            <div class="text-cover-wrapper">
                                <h3 class="text-cover-title c-white">{{STRINGS.site_name}}</h3>
                                <h4 class="text-cover-subtitle c-white strong-400 mt-4">{{STRINGS.site_tagline}}</h4>
                                <div class="clearfix"></div>
                                <p class="text-lg line0height-1_8 c-white mt-5">{{STRINGS.site_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
